.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
}

.nav_logo {
  margin: 0.5%;
  width: 7%;
  object-fit: contain;
}

.nav_avatar {
  width: 3%;
  margin: 0.5%;
  object-fit: contain;
}
